@charset "UTF-8";
.login {
    border: 1px solid black;
    padding: 63px 0;
    margin: 161px 478px;
    text-align: center;
    border-radius: 12px;
    background-color: plum;
    }
    .login a{
	color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px 20px;	
    font-size: large;
	}
	.login a:hover{
		background-color: cyan;
	color: rgb(255, 0, 0);
	}
	h1{
  margin-bottom: 42px;
}
body{
	font-family: sans-serif;
}
.head h1{
	padding-bottom: 20px ;
}
