@charset "UTF-8";
.signup{
	 border: 1px solid black;
    padding: 17px 0;
    margin: 71px 278px;
    text-align: center;
    border-radius: 12px;
   background-color: plum;
}
.signup .form{
	padding: 0 100px;
}