@charset "UTF-8";
@charset "UTF-8";
html{
    background-color: rgb(232,232,232);
    height: 100vh;
}
.card-title{
    color: #00AB6B;
    margin-bottom: 30px  ;
}
.cnt{
    text-align: center;
}
.card-body{
    width: 550px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position:relative;
    left: 500px;
    top: 250px;
}

span {
    display: inline-block;
    border-radius: 4px;
    background-color: #00AB6B;
    border: none;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 170px;
    transition: all 0.6s;
   }
   
   span a {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
    width: 150px;
   }
   
   span a:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   span:hover a {
    padding-right: 15px;
   }

   span:hover a:after {
    opacity: 1;
    right: 0;
   }
   .card-body {
    margin: 30px  0px;
   }
   .card-body .card-title{
    margin-bottom: 30px;
   }